@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: white;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 700;
	color: #274c5b;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 4.375em;
	line-height: 5.125em;
	color: #274c5b;
}
h2 {
	font-family: "Roboto", sans-serif;
	font-size: 3.125em;
	line-height: 3.6875em;
	color: #274c5b;
}
p {
	font-family: "Open Sans", sans-serif;
	font-size: 1.125em;
	font-weight: 400;
	color: #525c60;
}

button {
	font-size: 1.25em;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	padding: 1.75em 2.4375em;
	gap: 10px;
	width: 213.75em;
	height: 4.9375em;
	background-color: #274c5b;
	border-radius: 1em;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
